$font: 'Roboto', 'Arial', sans-serif;

.title {
  margin: 19px 0 0 36px;
  font-family: $font;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
}