$font: 'Roboto', 'Arial', sans-serif;
@mixin input {
  margin: 0 0 10px 0;
  width: 211px;
  height: 22px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: $font;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  &:disabled {
    border: none;
    color: #000000;
  }
}

.imputContainer {
  display: flex;
  flex-direction: column;
}

.inputName {
  margin: 0 0 3px 0;
  font-family: $font;
  font-size: 8px;
  line-height: 9px;
}

.input {
  @include input;
  border: 1px solid #D8D8D8;
}

.inputError {
  @include input;
  border: 1px solid #D91313;
}