$font: 'Roboto', 'Arial', sans-serif;

.form {
  margin: 16px 0 0 36px;
  padding: 20px 0 0 12px;
  width: 438px;
  height: 463px;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__submit {
  position: absolute;
  bottom: -35px;
  right: 0px;
  background: #52CF4F;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 15px;
  border: none;
  font-family: $font;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  transition: opacity 0.1s linear 0.1s;
  &:disabled {
    background: #cfe7cf;
  }
  &:disabled:hover {
    cursor: default;
    opacity: 1;
  }
}

.form__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form__input-name {
  margin: 0 0 3px 0;
  font-family: $font;
  font-size: 8px;
  line-height: 9px;
}

.form__input {
  margin: 0 0 10px 0;
  width: 211px;
  height: 22px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: $font;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  &:disabled {
    border: none;
    color: #000000;
  }
}

.form__text-area {
  resize: none;
  width: 420px;
  height: 55px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: $font;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  &:disabled {
    border: none;
    color: #000000;
  }
}

.form__input_type_error {
  border: 1px solid #D91313;
}