$font: 'Roboto', 'Arial', sans-serif;

.card {
  width: 420px;
  height: 73px;
  background: #F3F3F3;
  border-radius: 8px;
  position: relative;
  padding: 10px;
  margin: 20px 0 0 31px;
  box-sizing: border-box;
}

.card__more {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: none;
  border: none;
  font-family: $font;
  font-size: 12px;
  line-height: 14px;
  color: #4B51EF;
  transition: opacity 0.1s linear 0.1s;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.card__info {
  margin: 0 10px 8px 0;
  font-family: $font;
  font-size: 11px;
  line-height: 13px;
}

.card__info_name_string {
  color: #A3A3A3
}